.active {
    background-color: #444;
    color: white;
}

.loading {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    height: 100px; 
    color: #777;
}

@keyframes rotate {
    100% {
        transform: rotate(7200deg);
    }
}